<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar app-annual-sales">
      <div class="panel-heading">
        <h4 class="panel-title">
          Annual Sales
        </h4>
      </div>
      <li data-id="1998" class="app-sales-link">
        <a>1998</a>
      </li>
      <li data-id="1997" class="app-sales-link">
        <a>1997</a>
      </li>
      <li data-id="1996" class="app-sales-link">
        <a>1996</a>
      </li>
    </ul>

    <ul class="nav nav-sidebar app-sales-reps">
      <div class="panel-heading">
        <h4 class="panel-title">
          Sales Representatives
        </h4>
      </div>
    </ul>
  </div>

  <div id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  </div>
</div>