/*
 * Styles that apply to all pages displayed from the Achievement Controller.
 */

/* Set the width of the achievementDescription element to 100% */
#page[data-controller='Achievement'][data-view='Edit'] #achievementDescription {
    width: 100%;
    height: auto;
}


/* The save icon is positioned in the center of the edit page footer */
#page[data-controller='Achievement'][data-view='Edit'] div.app-footer {
    text-align: center;
}
