/*
 * Styles that apply to all pages displayed from the Goal Controller.
 */



/*
 * Goal Layout Page.
 */
#view[data-controller='Goal'][data-view='Layout'] .app-show-achievements {
    float: right;
}

#view[data-controller='Goal'][data-view='Layout'] .app-show-achievements.app-selected {
    color: black;
}



/*
 * Goal Edit Page.
 */

#page[data-controller='Goal'][data-view='Edit'] div.app-page-contents {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#page[data-controller='Goal'][data-view='Edit'].app-show-achievements div.app-page-contents {
    right: 550px !important;
    padding-right: 10px;
}

#page[data-controller='Goal'][data-view='Edit'] #goalTitle {
    width: 100%;
}

#page[data-controller='Goal'][data-view='Edit'] textarea {
    width: 100%;
    height: auto;
}

/* The save icon is positioned in the center of the edit page footer */
#page[data-controller='Goal'][data-view='Edit'] div.app-edit-footer {
    text-align: center;
}


#page[data-controller='Goal'][data-view='Edit'].app-show-achievements div.app-edit-footer {
    right: 550px !important;
}




/*
 * Goal Edit Page - Achievements Panel
 */

/* Position the achievements panel on the right side of the edit page */
#page[data-controller='Goal'][data-view='Edit'] #achievements {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 550px;
    display:none;
    background-color: #f5f5f5;
}

/* Display the achievements panel when the page has the app-show-achievements CSS class */
#page[data-controller='Goal'][data-view='Edit'].app-show-achievements #achievements {
    display:block !important;
}

/* Style the "Achievements" header */
#page[data-controller='Goal'][data-view='Edit'] #achievementsHeader {
    text-align: center;
    font-size: 24px;
}

/* Format the achievements that are displayed */
#page[data-controller='Goal'][data-view='Edit'] .app-achievement {
    padding:12px;
    font-size:16px;
    position: relative;
    background-color: transparent;
}

/* Highlight the selected achievement */
#page[data-controller='Goal'][data-view='Edit'] .app-achievement.app-selected {
    background-color: gray;
    color: white;
}

/* When hovering over an achievement, change the background color */
#page[data-controller='Goal'][data-view='Edit'] .app-achievement:not(.app-selected):hover {
    cursor: pointer;
    background-color: lightgray;
}

/* The achievements list is positioned below the header and above the footer */
#page[data-controller='Goal'][data-view='Edit'] #achievementsList {
    position: absolute;
    top: 40px;
    bottom: 40px;
    overflow-y: auto;
}

/* The copy to clipboard icon is positioned in the center of the achievements footer */
#page[data-controller='Goal'][data-view='Edit'] #achievementsFooter {
    text-align: center;
}



/*
 * Goal Achievements Page.
 */

#page[data-controller='Goal'][data-view='Achievements'] div.app-page-contents {
    position: absolute;
    top: 0px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

/* The add icon is positioned in the center of the achievements page footer */
#page[data-controller='Goal'][data-view='Achievements'] div.app-footer {
    text-align: center;
}
