/*
 * Styles that apply to the entire application.
 */

/* The body of the application appears below the navigation. */
body {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    overflow: hidden;
}

/* Set the font for the input and textarea elements to the same as the rest of the elements. */
input,
textarea {
    font-family: Arial;
    padding: .3em .2em;
}

/* Footer toolbar - toolbar that is displayed at the bottom of a page. */
.app-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 40px;
    border-width: 1px 0px 0px 0px;
    padding: 5px 12px;
}



/*
 * All Images
 */

/* Icons are gray by default */
i.fa {
    color: gray;
}

/* When an icon is NOT selected, then the pointer cursor is displayed on hover */
i.fa:not(.app-selected):hover {
    cursor: pointer;
    color: blue;
}

/* When an icon is selected, the text is black */
i.fa.app-selected {
    color: black;
}



/*
 * Detail Layout Page
 */

/* The page header panel at the top of the page showing the selected item */
#view[data-view='Layout'] #pageHeader {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    height: 40px;
    background-color: gainsboro;
    padding: 5px 12px;
}

/* The page header title is bold and to the right of the "back" icon */
#view[data-view='Layout'] #pageHeader .app-title {
    font-weight:bold;
    position:absolute;
    left:55px;
    top:0px;
}

/* The navigation panel is fixed on the left */
#view[data-view='Layout'] #pageNavigation {
    position: fixed;
    top: 91px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 50px;
}

/* The "page" icons are centered and gray by default */
#view[data-view='Layout'] #pageNavigation i {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

/* The page is displayed to the left of the navigation */
#view[data-view='Layout'] #page {
    position: fixed;
    top: 91px;
    bottom: 0px;
    left: 51px;
    right: 0px;
    overflow: auto;
}



/*
 * Edit Page
 */

/* The edit page has padding all around it */
#page[data-view='Edit'] {
    padding: 20px;
}

/* Each row in the edit page has space in between */
#page[data-view='Edit'] .row {
    margin-bottom:20px;
}



/*
 * Item Child List Page (Period Goals or Goal Achievements)
 */

/* Format the goals that are displayed */
#page[data-controller='Period'][data-view='Goals'] .app-goal,
/* Format the achievements that are displayed */
#page[data-controller='Goal'][data-view='Achievements'] .app-achievement {
    padding:12px;
    font-size:16px;
    font-weight:bold;
    position: relative;
}

/* When hovering over a goal, change the background color */
#page[data-controller='Period'][data-view='Goals'] .app-goal:hover,
/* When hovering over an achievement, change the background color */
#page[data-controller='Goal'][data-view='Achievements'] .app-achievement:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

/* Format the "details" icon for each goal */
#page[data-controller='Period'][data-view='Goals'] .app-goal-details,
/* Format the "details" icon for each achievement */
#page[data-controller='Goal'][data-view='Achievements'] .app-achievement-details {
    color: gray;
    position: absolute;
    right: 10px;
    top: 10px;
}

/* When hovering over the "details" icon, change the color */
#page[data-controller='Period'][data-view='Goals'] .app-goal-details:hover,
/* When hovering over the "details" icon, change the color */
#page[data-controller='Goal'][data-view='Achievements'] .app-achievement-details:hover {
    cursor: pointer;
    color: blue;
}
