<div class="fluid-container">
    <div class="row">
        <div class="col-sm-12">
            <h3>You</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <label for="goalTitle">Title:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <input id="goalTitle" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <label for="measurement">Measurement:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <textarea id="measurement" rows="4" cols="50" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <label for="dueDate">Due Date:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <input id="dueDate" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <label for="selfEvaluation">Self Evaluation:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <textarea id="selfEvaluation" rows="4" cols="50" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <label for="completionDate">Completion Date:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <input id="completionDate" />
        </div>
    </div>

    <hr/>
    
    <div class="row">
        <div class="col-sm-12">
            <h3>Supervisor</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <label for="rating">Rating:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <select id="rating"></select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-sm-3">
            <label for="assessment">Assessment:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <textarea id="assessment" rows="4" cols="50" />
        </div>
    </div>
</div>

<div id="achievements" class="ui-widget-content">
    <div id="achievementsHeader">
        Achievements
    </div>
    <div id="achievementsList"></div>
    <div id="achievementsFooter" class="ui-widget-content">
        <i class="fa fa-list-ol fa-2x app-achievements" aria-hidden="true"></i>
        <i class="fa fa-clipboard fa-2x app-copy" aria-hidden="true"></i>
    </div>
</div>