<h3>
    About
</h3>

<p>
The Performance application demonstrates the implementation of the Serenity UI framework 
and widgets used to create a Single Page Application.  The application also demonstrates 
how to create a custom Tile widget based on the serenity.Widget class.
</p>

<h3>
    Featured Serenity UI Widgets and Classes
</h3>
<ul>
    <li>
        <a href="" target="_blank">Dropdownlist</a> - The serenity.Dropdownlist widget is used in the Goal Edit page and the Achievement Edit page.
    </li>
    <li>
        <a href="" target="_blank">Model</a> - 
    </li>
    <li>
        <a href="" target="_blank">Observable</a> - 
    </li>
    <li>
        <a href="" target="_blank">Router</a> - 
    </li>
</ul>
