<h3>
    About
</h3>

<p>
The Performance application demonstrates the implementation of the Serenity UI framework 
and widgets used to create a Single Page Application.  The application also demonstrates 
how to create a custom Tile widget based on the serenity.Widget class.
</p>

<h3>
    Featured Serenity UI Widgets and Classes
</h3>
<ul>
    <li>
        <a href="https://serenityui.com/Widgets/Demos/dropdownlist/basic" target="_blank">Dropdownlist</a> - The serenity.Dropdownlist widget is used in the Goal Edit page and the Achievement Edit page.
    </li>
    <li>
        <a href="https://serenityui.com/Widgets/Demos/model/basic" target="_blank">Model</a> - The serenity.Model class is used for the Achievement, Goal, Lookup and Period models.
    </li>
    <li>
        <a href="https://serenityui.com/Widgets/Documentation/Notification" target="_blank">Notification</a> - The serenity.Notification widget is used to display notifications when a save is successful or when there are validation errors.
    </li>
    <li>
        <a href="https://serenityui.com/Widgets/Documentation/Observable" target="_blank">Observable</a> - The serenity.Observable class is used for all the View classes.
    </li>
    <li>
        <a href="https://serenityui.com/Widgets/Demos/router/basic" target="_blank">Router</a> - The serenity.Router is used for client side routing.
    </li>
</ul>
