<div class="fluid-container" class="app-page-contents" style="max-width:500px;">
    <div class="row">
        <div class="col-sm-3">
            <label for="achievementDescription">Description:</label>
        </div>
        <div class="col-sm-9">
            <textarea id="achievementDescription" rows="4" cols="50" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="startDate">Start Date:</label>
        </div>
        <div class="col-sm-9">
            <input id="startDate" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="endDate">End Date:</label>
        </div>
        <div class="col-sm-9">
            <input id="endDate" />
        </div>
    </div>
</div>
<div class="ui-widget-content app-footer">
    <i class="fa fa-save fa-2x app-save" aria-hidden="true" title="Save Achievement"></i>
</div>
