<div class="fluid-container" style="max-width:500px;">
    <div class="row">
        <div class="col-sm-3">
            <label for="startDate">Start Date:</label>
        </div>
        <div class="col-sm-3">
            <input id="startDate" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="endDate">End Date:</label>
        </div>
        <div class="col-sm-3">
            <input id="endDate" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label for="status">Status:</label>
        </div>
        <div class="col-sm-3">
            <select id="status"></select>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>
